*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
h1 {
    color: #025157;
  }
  body{
      background-color: #fffbcd;
  }
  h1{
      color: #46484c;
      text-align: center;
  }

  p{
      color: #8b8b8bcc;
      font-family: verdana;
      font-size: 15px;
      text-align: center;
  }
  form{
      text-align: center;
  }

  button {
      color: #fff;
      background-color: #025157;    
  }


  .header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }

  .logo > img{
    width: 25%;
    height: 100%;
  }

  .logo{
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
  }

   .navit > li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .navit{
    display: inline;
  }

  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }

  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }

  .actions button {
    color: white;
    background-color: #025157;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 2px;
  }

  .actions a {
    color: #025157;
  }
  
  .main{
    margin-top: 140px;
    text-align: center;
  }

  .promo{
    display: flex;
    max-width: 70%;
    margin: 100px auto ;
    align-items: center;
  }

  .explanatory-video{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .explanatory-video img{
    margin-top: 10px;
    width: 30%;
  }

  article{
    display: block;
  }

  .publish > p{
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
  }

  .publish{
    flex: 1;
  }