h1 {
    color: #025157;
  }
  body{
      background-color: #fffbcd;
  }
  h1{
      color: #46484c;
      text-align: center;
  }

  p{
      color: #8b8b8bcc;
      font-family: verdana;
      font-size: 15px;
      text-align: center;
  }
  form{
      text-align: center;
  }

  button {
      color: #fff;
      background-color: #025157;    
  }

  .bicon{
    height: 30px;
    width: 30px;
  }

  .header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  li {
    display: inline;
  }
